* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}



body{
    background-color: rgb(250, 241, 229);
    min-width: 425px;

    /*justify-self: center; Can be used to create the original centralized design I wanted
                            Another idea is to create empty columns beside middle column*/
}

.banner {
    height: 10vh; 
}

.banner > img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}


/* NAV */
.navContainer {
    position: sticky;
    top: 0px;
    background-color:rgb(88, 181, 183);
    z-index: 100; 
}

.navList {
    display: flex;
    flex-flow: row;
    list-style: none; 
}

.navList li {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navList li:hover {
    background-color:rgb(77, 162, 164) ;
}

.navList li a {
   
    font-size: large;
    padding: .4em;
    text-decoration: none;
    color: white;    
    overflow-wrap: break-word;
    width: 95%;
}

/* FOOTER */
footer {
    background-color: gray;
}