/* ABOUT */
.about {
    padding: 2em 0;
}

.about > p {
    text-align: center; 
}

/* POSTS */
.postContainer > h2 {
    text-align: center;
    color: rgb(45, 44, 44);
    grid-row: 1;
    font-size: 1.7em;
    margin: 2rem;
}

#postContent{
    display: block;
    width: 100%;
}

.post {
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    margin: 0px 0px 20px 0px;  
    height: 300px;
    /* Feels bad that one can't scroll and read all of the text. Adjust somehow */
    overflow: hidden;
}

.post:hover {
    cursor: pointer;
    box-shadow: 0 0 3px rgb(138, 138, 138);
    
}

.post:hover .thumbnail {
    /* Kinda an arbitraty value
       Small enough that it isnt super noticable but does make a difference*/
    transform: scale(1.005);
}

.postText{
    flex: 3;
    margin: 0 3vw;
    padding:  10px .5rem 2vh .5rem;

}

.post h3 {
    font-size: 2.1rem;
    margin-bottom: 15px;
}

.thumbnail {
    flex: 2;
    margin: 10px;
    display: flex;
    min-width: 250px;
    justify-content: center; 
    align-items: center;  
    width: 30vw;
    background-color: rgb(247, 234, 216);
      
} 

.thumbnail > img {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    z-index: 1;
}
