/* ABOUT */
.about {
    padding: 3em;
    display: flex;
    flex-flow: column nowrap;
}

.about > p {
    font-size: 1.2em;
    text-align: center; 
    flex: 2;
}

.about > h1 { 
    font-size: 3em;
    margin-bottom: 2rem;
    white-space: nowrap;
    display: block;
    text-align: center;
    align-content: center; 
}

main {
    margin-left: 2px;
    margin-right: 2px
}

main > section {
    margin-top: 1vh;
}

/* POSTS */
.postContainer > h2 {
    text-align: center;
    color: rgb(45, 44, 44);
    grid-row: 1;
    font-size: 1.7em;
    margin: 1rem;
}

#postContent{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.post {
    border: 2px solid black;
    border-radius: 4px;
    flex:1;
    display: flex;
    /* Margin with 4 args defines margins of element from top in a clockwise manner */
    margin: 0px 20px 20px 20px;  
    min-height: 300px;
    max-height: 300px;
    /* Feels bad that one can't scroll and read all of the text. Adjust somehow */
    overflow: hidden;
}

.post:hover {
    cursor: pointer;
    box-shadow: 0 0 2px black;
    
}

.post:hover .thumbnail {
    /* Kinda an arbitraty value
       Small enough that it isnt super noticable but does make a difference*/
    transform: scale(1.005);
}

.post h3 {
    font-size: 2.1rem;
    padding: .5rem;
    margin-left: 3vw;
}

.post p { 
    /*Height, Width*/
    margin: 0 3vw;
    padding: 2vh .5rem;
    font-size: 1.2em;
}

.thumbnail {
    margin: 10px;
    display: flex;
    min-width: 250px;
    justify-content: center; 
    align-items: center;  
    width: 30vw;
    background-color: rgb(247, 234, 216);
      
} 

.thumbnail > img {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    z-index: 1;
}
