    /* Code copy pasted from commit c2f1f0c with the message 'Reformatted web design'*/
    
    #postContent{
        display: flex;
        flex-flow: row wrap;
         /* Post elements have a margin to the left. Display is flex so margin collapsing wont work
        padding to left ensures posts keep a 7px gap from the container boundry */
    }

    .post{
        flex:1;
        display: flex;
        min-width: 32%;
        max-width: 32%;
        flex-flow: column;
        margin-bottom: 3px;
        margin-left: 7px;  
        max-height: 22rem;
        /* Feels bad that one can't scroll and read all of the text. Adjust somehow */
        overflow: hidden;
    }

    .thumbnail {
        margin: 10PX;
        display: flex;
        min-width: 100px;
        justify-content: center; 
        align-items: center;    
    } 

    .thumbnail > img {
        overflow: hidden;
        object-fit: cover;
        height: 10em;
        object-position: center;
    }