* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: minmax(350px, 1fr); 
    background-color: rgb(250, 241, 229);

    /*justify-self: center; Can be used to create the original centralized design I wanted
                            Another idea is to create empty columns beside middle column*/
}

.navContainer {
    background-color: black;
    padding: 0.5em
}

.navList {
    display: flex;
    flex-flow: row;
    list-style: none; 

   
}

.navList li {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border: 2px solid salmon;
}

.navList li:hover {
    background-color: salmon;
}

.navList li a {
   
    font-size: large;
    padding: .4em;
    text-decoration: none;
    color: azure;    
    overflow-wrap: break-word;
    width: 95%;
}

.aboutTxt > h1 { 
    font-size: 3em;
}

main {
    margin-left: 2px;
    margin-right: 2px
}

main > section {
    margin-top: 1vh;
}

.about {
    padding-left: .4em;
}

hr {
    margin: 1rem;
}

.postContainer > h2 {
    text-align: center;
    color: rgb(45, 44, 44);
    grid-row: 1;
    font-size: 1.7em;
}

.post {
    border: 2px solid black;
    border-radius: 4px;
}

.post:hover {
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

.post > h3 {
    align-self: center;
    justify-content: center;
    font-size: 2.1rem;
    padding: .5rem;
 
}

.post > p { 
    padding: 1rem;
}

  .aboutTxt > h1 {
        white-space: nowrap;
        display: block;
        flex: 1 2;
        text-align: center;
        align-content: center;
        
    }

    .aboutTxt{
         display: flex;
        height: 100%;
        flex-flow: column nowrap;
    }

    .aboutTxt > p {
        font-size: 1.2em;
        text-align: center; 
        flex: 2;
    }

/* Desktop */
@media (40.5em < width) {
    .about {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: minmax();
        column-gap: 10px;
        
    }

    .aboutGal > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    #postContent{
        display: flex;
        flex-flow: row wrap;
         /* Post elements have a margin to the left. Display is flex so margin collapsing wont work
        padding to left ensures posts keep a 7px gap from the container boundry */
        padding-right: 7px;
    }

    .post{
        flex:1;
        display: flex;
        min-width: 200px;
        max-width: 22rem;
        flex-flow: column;
        margin-bottom: 3px;
        margin-left: 7px;  
        max-height: 22rem;
        /* Feels bad that one can't scroll and read all of the text. Adjust somehow */
        overflow: hidden;
    }

    .thumbnail {
        margin: 10PX;
        display: flex;
        min-width: 100px;
        justify-content: center; 
        align-items: center;    
    } 

    .thumbnail > img {
        overflow: hidden;
        object-fit: cover;
        height: 10em;
        object-position: center;
    }


}

/* Portrait mode*/
@media  (40.5em >= width) {

    .aboutGal {
        display: none;
    }

     #postContent{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .post{
        flex:1;
        display: flex;
        flex-flow: column;
        margin: 3px 7px;  
        max-height: 22rem;
        /* Feels bad that one can't scroll and read all of the text. Adjust somehow */
        overflow: hidden;
    }

    .thumbnail {
        margin: 10px;
        display: flex;
        min-width: 100px;
        justify-content: center; 
        align-items: center;    
    } 

    .thumbnail > img {
        overflow: hidden;
        object-fit: cover;
        height: 10em;
        object-position: center;
    }

}

footer {
    background-color: gray;
}










